fontEurosilePath   = '../fonts/Eurostile/Eurostile-Bold-Condensed'
fontGlyphiconsPath = '../fonts/Glyphicons/glyphicons-halflings-regular'

@font-face
  font-family: 'Eurosile Bold Condensed'
  src: url(fontEurosilePath + '.eot')
  src: url(fontEurosilePath + '.eot?#iefix') format('embedded-opentype'),
       url(fontEurosilePath + '.woff2') format('woff2'),
       url(fontEurosilePath + '.woff') format('woff'),
       url(fontEurosilePath + '.ttf') format('truetype'),
       url(fontEurosilePath + '.svg') format('svg')

@font-face
  font-family: 'Glyphicons Halflings'
  src: url(fontGlyphiconsPath + '.eot')
  src: url(fontGlyphiconsPath + '.eot?#iefix') format('embedded-opentype'),
       url(fontGlyphiconsPath + '.woff2') format('woff2'),
       url(fontGlyphiconsPath + '.woff') format('woff'),
       url(fontGlyphiconsPath + '.ttf') format('truetype'),
       url(fontGlyphiconsPath + '.svg#glyphicons_halflingsregular') format('svg')
