@media (max-width: 992px)
  .menu-main__logo
    display: none
  .copyright__text
    text-align: center
  .menu-footer
    float: unset
    text-align: center
    &__item
      display: inline-block !important
      float: unset !important
  .related-product
    & .swiper-container
      margin-bottom: 2rem
  .product-content-box .content-box
    margin-left: 0

@media (max-width: 768px)
  .main
    margin-top: 4.9rem
  .menu-main__list-dropdown
    position: fixed
    top: 5.1rem
    width: 100%

@media (max-width: 480px)
  .slider-main__container
    max-width: unset
    width: 100%
    left: 0
    padding: 0 5rem
    & .button
      width: 100%
      margin-right: 0
      margin-bottom: 1.5rem