#contact-google-map
  width: 100%
  height: 50rem

.section__map
  margin: 5rem 0 -5rem

.office
  & + .social
    margin-bottom: 2rem
  & .office__item
    min-height: 5rem
    margin-bottom: 1rem
    & > div
      display: inline-block
    & .icon-holder
      float: left
      & > span::before
        color: #fdc716
        font-size: 3.5rem
        font-weight: 700
    & .content-holder
      padding-left: 5rem
      padding-top: .5rem
      & > p
        color: #9e9e9e
        line-height: 2.2rem
        & > span
          text-transform: capitalize
          color: #333