html
  height: 100%

body
  min-height: 100%
  display: flex
  flex-direction: column

.wrapper
  flex: 1

.footer
  margin-top: 5rem

.section__footer-top
  background: #292929
  padding: 5rem 0

.footer__widget
  min-height: 30rem
  margin-bottom: 3rem
  &__title
    position: relative
    margin-bottom: 4rem
    text-transform: uppercase
    & > h3
      font-weight: 700
      margin: 0
      padding-bottom: 2.4rem
    &-border::before
      background: #ffffff none repeat scroll 0 0
      content: ""
      height: .2rem
      left: 0
      position: absolute
      bottom: 0
      width: 7rem
  &__logo
    width: 20rem
  &__title
    color: #fff
  &__text
    border-bottom: .1rem solid #313131
    margin-bottom: 2.5rem
    overflow: hidden
    padding-bottom: 2.5rem
    color: #fff
  &__instagram
    text-align: center

.quick-links
  &__list
    float: left
    width: 50%
  &__item
    line-height: 3.6rem
  &__link
    color: #fff
    transition: all 500ms ease
    &:hover
      text-decoration: underline
      color: #fdc716

.contacts
  &__item
    min-height: 5rem
    margin-right: 1rem
  &__icon
    float: left
    margin-right: 1.5rem
    &::before
      color: #fdc716
      font-size: 2.2rem
  &__content
    color: #9e9e9e
    line-height: 2.2rem
    padding-left: 4rem
    & > span
      color: #fff
      font-weight: 600
      text-transform: uppercase

.instagram
  overflow: hidden
  margin-bottom: 2rem
  & li
    position: relative
    display: inline-block
    float: left
    width: 33.3333333%
    &:hover
      & .overlay-box
        opacity: 1
        transform: rotateY(0deg) scale(1, 1)
    & .img-holder
      overflow: hidden
      position: relative
      display: block
    & .overlay-box
      background-color: rgba(253,199,22, .85)
      text-align: center
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      color: #fff
      opacity: 0
      filter: 'alpha(opacity=0)'
      transition: all 450ms ease-out 0s
      transform: rotateY(180deg) scale(0.5,0.5)
      & .box
        display: table
        height: 100%
        width: 100%
        & .content
          display: table-cell
          text-align: center
          vertical-align: middle
          & a
            & i
              color: #292929
              font-size: 1.5rem

.section__footer-bot
  background: #292929 none repeat scroll 0 0
  border-top: .1rem solid #313131
  padding-top: 1rem

.copyright
  padding: 1.5rem 0
  &__text
    color: #fff
  &__link
    margin-left: .5rem
    color: #fdc716
    transition: all 500ms ease
    &:hover
      color: #fff