.main
  margin-top: 6.5rem

ul
  list-style: none
  margin: 0
  padding: 0

.h2
  color: #292929
  text-transform: uppercase

.main
  &__gallery
    & > .container
      position: relative
  &__h2
    margin: 5rem 0
    &::before
      position: absolute
      top: 4rem
      left: 0
      width: .3rem
      height: 5.2rem
      background: #01305e
      content: ""
  &__choose
    margin-top: 5rem

.choose
  &__title
    text-transform: uppercase
  &__sub-title
    color: #fdc716
  &__desc
    color: rgb(182, 182, 182)
    clear: both
  &__icon
    color: #292929
    position: relative
    float: right
    top: -.5rem
    &::before
      font-size: 4.5rem

.button
  cursor: pointer
  padding: 1.3rem 3rem
  margin-right: 1.5rem
  color: #fff
  display: inline-block
  font-weight: 600
  outline: medium none
  text-align: center
  text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.2);
  text-transform: uppercase
  transition: all 500ms ease
  &:hover
    background: #292929
  &-yellow
    background: #fdc716
    border: .2rem solid #fdc716
  &-gray
    border: .2rem solid #d1cece