.section__search
  padding-top: 5rem

.main__search
  margin-bottom: 3rem
  &-img
    width: 100%
  &-title
    text-transform: uppercase
    font-size: 1.8rem
  &-table
    & th
      border: none !important
    & td
      font-size: 2rem
      width: 33.3333333%
      vertical-align: middle !important
      text-align: center
      border: none !important