.main__search
  margin-bottom: 3rem
  &-img
    width: 100%
  &-title
    text-transform: uppercase
    font-size: 1.8rem

.table-search
  & tr
    cursor: pointer
    transition: all .5s
    &:hover
      background-color: rgba(253, 199, 22, 0.5)
  & td
    width: calc(100% / 7)
    text-align: left
  &__brand,
  &__name
    text-transform: capitalize
  &__price
    text-transform: uppercase

.pagination
  &__nav
    text-align: center
  & > li > a
    color: #333
  & > li.active > a,
  & > li.active > a:focus,
  & > li.active > a:hover
    background-color: #fdc716
    border-color: #fdc716

.form__search
  & select + span.select2
    margin-bottom: 2rem

