- var menu = [{name : 'home', url : '#0'}, {name : 'about us', url : '#0'}, {name : 'services', url : '#0'}, {name : 'filter search', url : '#0'}, {name : 'contacts', url : 'contacts.html'}]

ul.nav.navbar-nav.menu-footer
	each item in menu
		li.menu-footer__item
			a.menu-footer__link(href=item.url)= item.name