- var menu = [{name : 'home', url : '#0', sub: null}, {name : 'about us', url : '#0', sub: null}, {name : 'services', url : '#0', sub: null}, {name : 'products', url : '#0', sub: [{name : 'oil filter', url : '#0'}, {name : 'fuel filter', url : '#0'}, {name : 'air filter', url : '#0'}]}, {name : 'filter search', url : 'search.html', sub: null}, {name : 'contacts', url : '#0', sub: null}]

nav.navbar.navbar-default.navbar-fixed-top.menu-main
  .container
    .row
      .navbar-header.menu-main__navbar-header
        button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#menu-main' aria-expanded='false')
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #menu-main.collapse.navbar-collapse
        ul.nav.navbar-nav.menu-main__list
          each item in menu
            if ( !item.sub )
              li.menu-main__item
                a.menu-main__link(href=item.url)= item.name
            else
              li.menu-main__item.menu-main__item-dropdown
                a.menu-main__link.menu-main__link-dropdown(href=item.url)= item.name
                  ul.menu-main__list-dropdown
                    each sub in item.sub
                      a.menu-main__link.menu-main__link-sub(href=sub.url)= sub.name
          a(href='index.html').menu-main__logo
            img(src='assets/img/logo.png' alt='')