table.table.main__search-table
	thead
		th depurox number
	tbody
		tr
			td(rowspan='2')
				img.main__search-img(src='assets/img/slider__gallery/1.jpg' alt='')
			td
				.main__search-dimension dimension
			td(rowspan='2')
				.main__search-app application
		tr
			td
				.main__search-cross cross ref.