- var n = 0

table.table.table-search
	thead
		th(colspan=6) Search results
	tbody
		while n < 50
			tr
				td= n++
				td.table-search__icon
					i.fa.fa-car
				td.table-search__brand brand
				td.table-search__name name
				td.table-search__code 13711
				td.table-search__price 50 usd
				td.table-search__year 04/16