doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name="description" content="")
		meta(name="keywords" content="")
		title DEPUBOX
		include __assets/styles
		include __assets/scripts
	body
		include __blocks/header
		main.main
			block main
		include __blocks/footer
		.scroll-to-top.scroll-to-top-hide
			span.fa.fa-angle-up.scroll-to-top__icon