extends base
block main
	section.section.main__slider
		include __blocks/slider__main
	section.section.main__about
		.container
			.row
				.col-md-6.col-sm-6.col-xs-12
					h2.h2.main__h2 About us
					p.main__about__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				.col-md-6.col-sm-6.col-xs-12
					h2.h2.main__h2 Search filter
					form.form__search
						.row
							.col-md-12
								.row
									.col-md-6
										input.input(type='text' name='name' placeholder='Your Name*')
									.col-md-6
										input.input(type='text' name='name' placeholder='Email Address*')
									.col-md-6
										input.input(type='text' name='name' placeholder='Phone Num')
									.col-md-6
										select.select.select__search
											option Solution One
											option Solution Two
											option Solution Three
									.col-md-12
										textarea.textarea(name='message' placeholder='Write Your Needs...')
									.col-md-12
										button.button.button-yellow(type='button') search
	section.section.main__gallery
		.container
			.row
				.col-md-12.col-sm-12.col-xs-12
					h2.h2.main__h2 photo gallery
					include __blocks/slider__gallery
	section.section.main__choose
		.container
			.row
				.col-md-4.col-sm-4.col-xs-12
					.choose
						span.choose__icon.flaticon-avatar
						h3.choose__title WE ARE PROFESSIONAL
						h5.choose__sub-title Engineers
						p.choose__desc How all this mistakens idea of denouncing pleasures and completed account.
				.col-md-4.col-sm-4.col-xs-12
					.choose
						span.choose__icon.flaticon-interface-2
						h3.choose__title WE ARE TRUSTED
						h5.choose__sub-title Team Members
						p.choose__desc Idea denouncing pleasures and praisings pain was born great explorer.
				.col-md-4.col-sm-4.col-xs-12
					.choose
						span.choose__icon.flaticon-tool-1
						h3.choose__title WE ARE EXPERT
						h5.choose__sub-title Designer
						p.choose__desc Denouncing pleasures and was born work will give you a complete masters.