extends base
block main
	section.section.section__search
		.main__search
			.container
				.row
					.col-md-12.col-sm-12.col-xs-12
						select.select.select__search-page
		.main__search-result
			.container
				.row
					hr
					include __blocks/search-result
					hr
					include __blocks/search-result
					hr
					include __blocks/search-result
					hr
					include __blocks/search-result
					hr